
.sidebar {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar li{
    list-style: none;
}

.green{
  background-color: #e0ffbb;
  margin: 2px;
}

.blue{
  background-color: #bbe5ff;
  margin: 2px;
  border-color: green;
}

.top {


}
img {
  width: 125px;
}

.container{
  border-style:
  border-color:
}

.hdr {
background-color: #e3e3e3;
}
.text {

}
