
.sidebar {
  background-color: white;
}

.sidebar li{
    list-style: none;
}

.green{
  background-color: #e0ffbb;
  padding: 8px;
  padding-color: white;
  /*margin: 2px;*/
}

.blue{
  background-color: #bbe5ff;
  /*margin: 2px;*/
  border: 10px;
  border-color: green;
}

.hdr {
  background-color: #e0e0e0;
}
