
.sidebar {
  background-color: white;
}

.sidebar li{
    list-style: none;
}

.green{
  background-color: #e0ffbb;
  margin: 2px;
}

.blue{
  background-color: #bbe5ff;
  margin: 2px;
  border: 10px;
  border-color: green;
}
